.venv/
venv/
env/

**/__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.idea/
.vscode/
*.swp

*.csv
*.tsv
*.json
*.parquet
/data/
spark-warehouse/
derby.log
metastore_db/

Dockerfile
.dockerignore

data/
output/